# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Images et médias lourds
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.bmp
*.avi
*.mov
*.mp4
*.mp3
*.zip
*.rar
*.7z

# Build/production si Vercel ou autre
.vercel
build/
out/
coverage/

# Système/MacOS/Windows
Thumbs.db
ehthumbs.db
desktop.ini
*.bak

# Tests et fichiers temporaires
test.*
*.tmp
